{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1 class="title">Puestos activos</h1>
  <div class="row">
    {% for puesto in puestos_activos %}
      {% for usuario in usuarios %}
        {% if puesto.id_p == usuario.id %}
          <div class="card" onclick="showPopup('{{ puesto.titulo }}', '{{ puesto.productos }}', '{{ puesto.ofertas }}', '{{ puesto.estado }}', '{{ usuario.nombre }}', '{{ usuario.wsp }}', '{{ usuario.datos }}')">
            {% if puesto.imagen %}
              <img src="{{ url_for('static', filename=puesto.imagen.replace('static/', '').replace('\\', '/')) }}" alt="{{ puesto.titulo }}">
            {% endif %}
            <p>{{ puesto.titulo }}</p>
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>

  <h1 class="title">Puestos inactivos</h1>
  <div class="row">
    {% for puesto in puestos_inactivos %}
      {% for usuario in usuarios %}
        {% if puesto.id_p == usuario.id %}
          <div class="card inactive" onclick="showPopup('{{ puesto.titulo }}', '{{ puesto.productos }}', '{{ puesto.ofertas }}', '{{ puesto.estado }}', '{{ usuario.nombre }}', '{{ usuario.wsp }}', '{{ usuario.datos }}')">
            {% if puesto.imagen %}
              <img src="{{ url_for('static', filename=puesto.imagen.replace('static/', '').replace('\\', '/')) }}" alt="{{ puesto.titulo }}">
            {% endif %}
            <p>{{ puesto.titulo }}</p>
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</div>

<!-- The Modal -->
<div id="myPopup" class="popup">
  <div class="popup-content">
    <span class="close" onclick="closePopup()">&times;</span>
    <h2 id="popupTitle"></h2>
    <p id="popupPrice"></p>
    <div id="popupSeparator" style="margin-top: 5px;margin-bottom: 5px;"></div> 
    <p id="popupDetails"></p>  
  </div>
</div>
{% endblock %}
